<div class="sheet-header">
    <mat-icon class="sheet-folder-icon">folder</mat-icon>
    <span class="sheet-title">{{ data.group.name }}</span>
    <span class="sheet-count">{{ actions.length }}</span>
    <span class="header-spacer"></span>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="drag-up-zone" [class.visible]="dragging" [class.active]="dragUpActive"
     cdkDropList id="group-remove-zone" [cdkDropListConnectedTo]="['group-cards']"
     (cdkDropListEntered)="dragUpActive = true"
     (cdkDropListExited)="dragUpActive = false"
     (cdkDropListDropped)="onRemoveZoneDrop($event)">
    <mat-icon>keyboard_arrow_up</mat-icon>
    <span>Release to remove from group</span>
</div>

<div class="sheet-cards" cdkDropList id="group-cards" cdkDropListOrientation="mixed"
     [cdkDropListConnectedTo]="['group-remove-zone']"
     (cdkDropListDropped)="drop($event)">
    @for (action of actions; track action.id) {
    <div class="device-card-wrapper" cdkDrag [cdkDragData]="action"
         (cdkDragStarted)="onDragStarted()"
         (cdkDragEnded)="onDragEnded()">

        <div class="drag-rail" cdkDragHandle>
            <div class="drag-rail-dots">
                <span></span><span></span><span></span>
                <span></span><span></span><span></span>
            </div>
        </div>

        <app-action-card
            [action]="action"
            [canRemoveFromGroup]="true"
            (rename)="renameAction($event)"
            (removeFromGroup)="removeFromGroup($event)">
        </app-action-card>

        <div *cdkDragPlaceholder class="drag-placeholder-sheet"></div>
    </div>
    }
</div>
