<div
    class="scene-tile"
    [class.running]="running()"
    (click)="execute.emit()"
    (keydown.enter)="execute.emit()"
    tabindex="0"
    role="button"
    [attr.aria-label]="'Run scene ' + scene().name">
    <div class="scene-header">
        <mat-icon class="scene-icon">auto_awesome</mat-icon>
        <span class="scene-name">{{ scene().name }}</span>
        <span class="header-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="sceneMenu" class="card-menu-btn"
            (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #sceneMenu="matMenu">
            <button mat-menu-item (click)="edit.emit()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="remove.emit()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </div>

    <div class="scene-body">
        <div class="play-badge">
            @if (running()) {
            <mat-spinner diameter="28"></mat-spinner>
            } @else {
            <mat-icon>play_arrow</mat-icon>
            }
        </div>
        <span class="scene-count">
            {{ scene().members.length }} {{ scene().members.length === 1 ? 'action' : 'actions' }}
        </span>
    </div>
</div>
