<mat-card>
    <mat-card-header>
    <mat-card-title>Create User Action</mat-card-title>
  </mat-card-header>
  <mat-card-content>


 <form [formGroup]="userActionForm" (ngSubmit)="onSubmit()">
          <div class="form-container">

    <mat-form-field appearance="outline">
          <mat-label>name</mat-label>
          <input matInput formControlName="name" required placeholder="e.g. Turn On Light" />
        </mat-form-field>

   <mat-form-field appearance="outline">
          <mat-label>type</mat-label>
          <mat-select formControlName="type" required>
            <mat-option
              *ngFor="let googleActionType of actionTypes$ | async"
              value="{{ googleActionType.id }}"
            >
              {{ googleActionType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field appearance="outline">
          <mat-label>trait</mat-label>
          <mat-select formControlName="trait" required>
            <mat-option
              *ngFor="let googleActionTrait of actionTraits$ | async"
              value="{{ googleActionTrait.id }}"
            >
              {{ googleActionTrait.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="userActionForm.invalid">
          Create
        </button>
 
      </div>
    </form>

    </mat-card-content>
</mat-card>